<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="application.properties"/>

    <!-- Создаем класс-фабрику через конструктор -->
    <bean id="radioFactory" class="ru.maxima.spring.RadioFactory"/>

    <!-- Создаем бин через фабрику -->
    <bean id="rockRadio" factory-bean="radioFactory" factory-method="createRockRadio"/>

   <!--  Создаем бин через фабрику -->
    <bean id="retroRadio" factory-bean="radioFactory" factory-method="createRetroRadio"/>

   <!--  Создаем бин через фабрику -->
    <bean id="dachaRadio" factory-bean="radioFactory" factory-method="createDachaRadio"/>

    <!-- Создаем бин у которого лист бинов радиостанций -->
    <bean id="musicPlayer" name="musicPlayer"
          class="ru.maxima.spring.MusicPlayer"
          scope="prototype">

        <property name="nameOfRadioFrequency" value="${nameOfRadioFrequency}"/>
        <property name="startRadio" value="${startRadio}"/>
        <property name="endRadio" value="${endRadio}"/>

        <!-- java.util.List -->
        <property name="radioList">
            <list>
                <ref bean="retroRadio"/>
                <ref bean="rockRadio"/>
                <ref bean="dachaRadio"/>
            </list>
        </property>
    </bean>

</beans>